/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 15px;
}

body{
    // background-color: #06113c;
    // background: rgba(255, 122, 89, .5);
    background: #fff;
}

.greencolorbg{
    background-color: #7BB835 !important;
    color: #fff !important;
}

.bluecolorbg{
    background: #0E185F !important;
    color: #fff !important;
}
.green{
    color: #7BB835 !important;
}
.blue{
    color: #0E185F !important;
}




